# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
.settings/
.classpath
.project
*.bat
*.settins
*.class
.project
*.factorypath
*.bat/
*.apt_generated/
*.gradle/

#Intellij
*.iml
*.idea/
out/
build/
target/
*.log
logs/

bin/
out/
.gradle/
gradle/
gradlew
